[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used (fedora >= 15).
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd
user=mysql

# Semisynchronous Replication
# http://dev.mysql.com/doc/refman/5.5/en/replication-semisync.html
# uncomment next line on MASTER
;plugin-load=rpl_semi_sync_master=semisync_master.so
# uncomment next line on SLAVE
;plugin-load=rpl_semi_sync_slave=semisync_slave.so

# Others options for Semisynchronous Replication
;rpl_semi_sync_master_enabled=1
;rpl_semi_sync_master_timeout=10
;rpl_semi_sync_slave_enabled=1

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

# ==================== custom settings ====================

# common
server_id=1
port=3306
max_connections=300
character_set_server=utf8mb4
query_cache_size=16M
query_cache_type=2
log_bin=ieul-db-bin
binlog_format=MIXED
max_binlog_size=128M
expire_logs_days=15
sync_binlog=1
slow_query_log
long_query_time=3
log_output=FILE

# innodb
innodb_buffer_pool_size={{ buffer_pool_size }}
innodb_additional_mem_pool_size=16M
innodb_file_per_table
innodb_autoextend_increment=64M
innodb_support_xa=1
innodb_flush_log_at_trx_commit=1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
